.checkoutpagesize {
  width: 500px
}

.view{
  transition-duration: 1s;
  transform: scale(1)
}

.detailsCarousel{
  width: 300px;
  margin-right: 5%;
}
.productDetails{
  display: flex;
}
.addToCartButton{
  margin: 5%;
  background-color:#000067;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.addToCartButton:hover{
  background-color: #000000;
  transition-duration: 1s;
  transition-timing-function: ease;
}

@media screen and (max-width: 800px) {
  .productInfo {
    width: 100%;
  }
  .detailsCarousel{
    margin:auto;
  }
  .detailsPrice{
    font-size: 2rem;
    font-weight: bold;
  }
  .addToCartButtonContainer {
    display:flex;
    justify-content: left;
  }
  .productDetails{
    display:block;
  }
}

.view:hover{
  transition-duration: 1s;
  color:darkblue;
  transform: scale(1.05);
  cursor: pointer;
}

.home{
  padding-left: 5%;
  transition-duration: 1s;
  transform: scale(1)
}

.cartItem{
  width:100%;
  padding:1%;
}


/* @media only screen and (min-width: 1030px) {
  .cartItem{
    width:40%;
    margin: 5%;
    padding:1%;
  }
  .cartItemsContainer{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
} */
.home:hover{
  transition-duration: 1s;
  transform: scale(1.1);
  cursor: pointer;
}

.checkoutButton{
  background-color: #01274F;
  color: whitesmoke;
  transition-duration: 0.5s;
  transform: scale(1.05);
}
.checkoutButton:hover{
  color:#9C9C9C;
  transition-duration: 0.5s;
  transform: scale(1.05);
}

.continueShopButton{
  background-color: #3C95C6;
  transition-duration: 0.5s;
}
.continueShopButton:hover{
  background-color: #3C95F6;
  transition-duration: 0.5s;
}
.homeIcon{
  margin-left:5%;
  margin-top:2%;
  width: 50px;
}

.homeText {
  margin-top:5%;
}
.cartani{
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: scale(1);
}

.cartani:hover{
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: scale(1.2);
  color: #000067;
  cursor: pointer;
}
.titleani{
  margin-bottom: 10%;
  transition-duration: 1s;
  transition-timing-function: ease;
  color: whitesmoke;
}
.titleani:hover{
  transition-duration: 1s;
  transition-timing-function: ease;
  cursor: pointer;
  color: #9C9C9C;
}
.checkoutButtons{
  display:flex;
}
.placeorderbutton{
    margin-left: 5%;
    margin-bottom: 3%;
    background-color: #000067;
    color: #CDFDF8;
    transition-duration: 0.5s;
}
.placeorderbutton:hover{
  color: #9C9C9C;
  transition-duration: 0.5s;
}
.postCheckoutContainer {
  width: 80%;
  background: rgb(26, 93, 129);
  color:#CDFDF8;
}
.btcB{
  background-color: #3C95C6;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.btcB:hover{
  background-color: #3C95F6;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.cartImage{
  height: 150px;
  width: 150px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}
.cartImageContainer{
  display: flex;
  align-items: center;
  margin-right: 3%;
}

.detailsName{
  font-size: 2rem;
}
.detailsPrice{
  font-size:2rem;
  font-weight:bold;
}
.startPopUpText{
  color:whitesmoke;
  margin-top: 5%
}

.startScreen{
  height: 1210%;
  width: 120%;
  position: absolute;
  top:-10%;
  left: -20%;
  padding: 10px 0px 0px 10px;
  z-index: 50;
  background-color: rgba(100,100,100,0.7);
  display:none;
}

.startPopUp{
  padding:2%;
  background: #01274F;
  top: 30%;
  left: 33.33%;
  position: fixed;
  padding-bottom: 2%;
  width: 33.33%;
  text-align:center;
  border-radius: 5px;
}
.carouselImages > li{
  background-color: black;
  border-radius: 46%;
}

.hamburgerMenuContainer{
  margin-left:10%;
  transform: scale(2);
  display:none;
}
.subjectContainer{
  display: flex;
  justify-content:space-between;
}
.hamburgerMenuButton:hover{

}
.hamburgerMenuButton{
  transition-duration: 0s;
}
.hidden{
  display:none;
}
.menu{
  display:hidden;
  height:0;
}
.cartani{
    margin-right: 5%;
  }
@media only screen and (max-width: 600px) {
  .hamburgerMenuButton{
    transition-duration: .5s;
    transform: scale(1);
    cursor: pointer;
  }
  .hamburgerMenuButton:hover{
    transition-duration: .5s;
    transform: scale(1.1);
    cursor: pointer;
  }
  .subjectContainer{
    display:none;
  }
  .hamburgerMenuContainer{
    display: flex;
    align-content: center;
    justify-content: center;
    height:100%;
  }
  .menu{
    text-align: center;
    height:100%;
    width: 100%;
    background-color: #3C95C6;
    font-family: Impact, sans-serif;
  }
  .open{
    color:white;
  }
  .menuItems:hover{
    background-color:#3CC6B9;
    cursor: pointer;
  }
  .menuText{
    font-size: 2.5rem;
  }
  .link{
    font-size: 1rem;
  }
  .link:hover{
    color:red;
  }
  .container{
    width: 100vw;
  }

  .dark{
    background-color:gray;
    transition-duration: 1s;
    transition-timing-function: ease
  }
  .titleani {
    transition-duration: 0s;
    font-size: 0rem;
    display:none;
  }
  .homeIcon {
    width:50px;
    margin-left:auto;
  }
  .cartani{
    margin-right: 10%;
  }
  .cartDes{
    font-size:0;
  }
  .cartName{
    font-size: 1.25rem
  }
  .cartPrice{
    font-size: 1.25rem;
  }
  .checkoutpagesize{
    width: 300px;
  }
  .checkoutButtons{
    display:block;
  }
  .placeorderbuttonContainer{
    width: 100%;
  }
  .placeorderbutton{
    width: 100%;
    margin-left: 0%;
    margin-bottom: 0%;
  }
  .cancelButton{
    height:40px;
  }
  .startPopUpText{
    font-size: 1.5rem;
  }
  .startScreen{
    height: 1690%;
  }
}

.carouseldirection:hover{
  transition-duration: 1s;
  transition-timing-function: ease;
  cursor: pointer;
  background: lightgrey;
  opacity: 0.5;
}

.addAndDeleteItem{
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: scale(1);
}

.addAndDeleteItem:hover{
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: scale(1.2);
  cursor: pointer;
}

/*details modal*/
.detailsScreen{
  height: 150%;
  width: 120%;
  color:brown;
  position: absolute;
  top:-10%;
  left: -20%;
  padding: 10px 0px 0px 10px;
  z-index: 50;
  background-color: rgba(100,100,100,0.7);
  display:none;
}
.detailsButtonContainer{
  display: flex;
  justify-content: space-between;
}
.gtcB{
  margin-top:5%;
  background: #000067;
  color:whitesmoke;
  text-align: center;
  border:0;
  border-radius: 5%;
  margin-right:5%;
}
.gtcB:hover{
  background: #000000;
  color:whitesmoke;
  text-align: center;
}
.csB{
  margin-top:5%;
  border:0;
  border-radius: 5%;
  margin-left: 5%;
}
@media only screen and (max-width: 950px) {
  .detailsScreen{
    height: 190%;
  }
  .detailsPopUpText{
    font-size: 1rem;
  }
  .gtcB{
    font-size: 0.75rem;
  }
  .csB{
    font-size: .75rem;
  }
}
@media only screen and (max-width: 750px) {
  .gtcB{
    font-size: 0.5rem;
  }
  .csB{
    font-size: .5rem;
  }
}




.detailsPopUp{
  padding:2%;
  background: #01274F;
  top: 30%;
  left: 33.33%;
  position: fixed;
  padding-bottom: 2%;
  width: 33.33%;
  text-align:center;
  border-radius: 5px;
}

#xStartButton{
  color: #3C95C6;
  margin: auto;
  border: 0;
  background-color: rgba(100,100,100,0);
  /* margin: 2%; */
  transition-duration: .5s;
  transform: scale(1);
  border-radius: 10%;
}

#xStartButton:hover{
  transition-duration: .5s;
  transform: scale(1.1);
  background-color: #CDFDF8;
  border-radius: 10%;
}

#xButton{
  color: red;
  float: right;
  border: 0;
  background-color: rgba(100,100,100,0);
  margin: 2%;
  transition-duration: .5s;
  transform: scale(1);
}

#xButton:hover{
  transition-duration: .5s;
  transform: scale(1.1);
}

.detailsPopUpText{
  color:whitesmoke;
  margin-top: 10%;
}
