.checkoutpagesize {
  width: 500px
}

.view{
  transition-duration: 1s;
  transform: scale(1)
}

/* .placeorderbutton{
  background-color: black;
} */

.detailsCarousel{
  width: 300px;
  margin-right: 5%;
}
.productDetails{
  display: flex;
}
.addToCartButton{
  margin: 5%;
}
@media screen and (max-width: 800px) {
  .productInfo {
    width: 100%;
  }
  .detailsCarousel{
    margin:auto;
  }
  .detailsPrice{
    font-size: 2rem;
    font-weight: bold;
  }
  .addToCartButtonContainer {
    display:flex;
    justify-content: left;
  }
  .productDetails{
    display:block;
  }
}

.view:hover{
  transition-duration: 1s;
  animation: fade 1s linear forwards;
  color:darkblue;
  font-weight: bold;
  transform: scale(1.05);
  cursor: pointer;
}

@keyframes fade {
  0% {opacity: .5}
  20% {opacity: 0.7}
  100% {opacity: 1}
}

.home{
  transition-duration: 1s;
  transform: scale(1)
}

.home:hover{
  transition-duration: 1s;
  transform: scale(1.1);
  cursor: pointer;
}

.homeIcon{
  margin-left:5%;
  margin-top:2%;
  width: 50px;
}

.homeText {
  margin-top:5%;
}
.cartani{
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: scale(1);
}

.cartani:hover{
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: scale(1.2);
  color: #000067;
  cursor: pointer;
}
.titleani{
  margin-bottom: 10%;
}
.titleani:hover{
  transition-duration: 1s;
  transition-timing-function: ease;
  cursor: pointer;
  color: white;
}
.checkoutButtons{
  display:flex;
}
.placeorderbutton{
    margin-left: 5%;
    margin-bottom: 3%;
  }
.postCheckoutContainer {
  width: 80%;
}
.cartImage{
  height: 150px;
  width: 150px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}
.cartImageContainer{
  display: flex;
  align-items: center;
}

.carouselImages > li{
  background-color: black;
  border-radius: 46%;
}

@media only screen and (max-width: 600px) {
  .titleani {
    font-size: 1rem;
    margin-bottom: -40px;
  }
  .homeIcon {
    width:50px;
  }
  .cartani{
    margin-right: 2%;
  }
  .cartDes{
    font-size:0;
  }
  .cartName{
    font-size: 1.25rem
  }
  .cartPrice{
    font-size: 1.25rem;
  }
  .checkoutpagesize{
    width: 300px;
  }
  .checkoutButtons{
    display:block;
  }
  .placeorderbuttonContainer{
    width: 100%;
  }
  .placeorderbutton{
    width: 100%;
    margin-left: 0%;
    margin-bottom: 0%;
  }
  .cancelButton{
    height:40px;
  }
}

.carouseldirection:hover{
  transition-duration: 1s;
  transition-timing-function: ease;
  cursor: pointer;
  background: lightgrey;
  opacity: 0.5;
}

.addAndDeleteItem{
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: scale(1);
}

.addAndDeleteItem:hover{
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: scale(1.2);
  cursor: pointer;
}

/*details modal*/
.detailsScreen{
  height: 150%;
  width: 120%;
  color:brown;
  position: absolute;
  top:-10%;
  left: -20%;
  padding: 10px 0px 0px 10px;
  z-index: 50;
  background-color: rgba(100,100,100,0.7);
  display:none;
}
@media only screen and (max-width: 800px) {
  .detailsScreen{
    height: 190%;
  }
  .detailsPopUpText{
    font-size: 1rem;
  }
}

.detailsPopUp{
  background-color: rgba(255, 166, 65, 1);
  top: 30%;
  left: 33.33%;
  position: fixed;
  padding-bottom: 2%;
  width: 33.33%;
  text-align:center;
  border-radius: 5px;
}

#xButton{
  color: red;
  float: right;
  border: 0;
  background-color: rgba(100,100,100,0);
  margin: 2%;
  transition-duration: .5s;
  transform: scale(1);
}

#xButton:hover{
  transition-duration: .5s;
  transform: scale(1.1);
}
.detailsPopUpText{
  margin-top: 10%;
}
