.checkoutpagesize {
  width: 500px
}

.view{
  transition-duration: 1s;
  transform: scale(1)
}

.view:hover{
  transition-duration: 1s;
  animation: fade 1s linear forwards;
  color:darkblue;
  font-weight: bold;
  transform: scale(1.05);
  cursor: pointer;
}

@keyframes fade {
  0% {opacity: .5}
  20% {opacity: 0.7}
  100% {opacity: 1}
}

.home{
  transition-duration: 1s;
  transform: scale(1)
}

.home:hover{
  transition-duration: 1s;
  transform: scale(1.1);
  cursor: pointer;
}

.cartani{
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: scale(1);
}

.cartani:hover{
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: scale(1.2);
  color: #000067;
  cursor: pointer;
}
.titleani{
  margin-bottom: 10%;
}
.titleani:hover{
  transition-duration: 1s;
  transition-timing-function: ease;
  cursor: pointer;
  color: white;
}

@media only screen and (max-width: 600px) {
  .titleani {
    font-size: 1rem;
    margin-bottom: 30px;
  }
}

.carouseldirection:hover{
  transition-duration: 1s;
  transition-timing-function: ease;
  cursor: pointer;
  background: lightgrey;
  opacity: 0.5;
}

.addAndDeleteItem{
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: scale(1);
}

.addAndDeleteItem:hover{
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: scale(1.2);
  cursor: pointer;
}
